html, body {
	height: 100%;
	margin: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.buttons{
	text-align: right;
	margin-top: 10px;
	padding: 5px;
	border-top: 1px solid #B5B5B5;
}

#geral{
	position: relative; /* needed for footer positioning*/
	margin: 0 auto; /* center, not in IE5 */
	height: auto !important; /* real browsers */
	height: 100%; /* IE6: treaded as min-height*/
	min-height: 100%; /* real browsers */
	width: 100%;
}

#header{
	padding-top: 10px;
	padding-bottom: 10px;
	top: 0;
	width: 100%;
	background-repeat: no-repeat;
	height: 80px;
}

#cabecalho{
	width: 68%;
	margin: auto;
}

#contentHeader {
    width: 100%;
    overflow: hidden;
}

#contentHeader img {
    margin-right: 15px;
    float: left;
}

#content{
	margin-top: 20px;
	padding-bottom: 60px;
	clear: both;
}

@media only screen and (max-device-width: 1050px) {
	div#formulario {
	    width: 95%;
		margin: auto;
	}
	
	div#cabecalho{
		margin-left: 40px;
	}
	
	div#full-page{
		height: 80vh;
	}
	
	body {
		font-size: 25px;
	}
	
}

#formulario{
	width: 68%;
	padding: 10px;
	margin: auto;
}

#footer{
	clear: left;
	padding: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	position: absolute;
	width: 100%;
	bottom: 0; /* stick to bottom */
	left: 0;
	
	background: #79CBFC;
	height: 30px;
}

p{
	border-bottom: 1px solid #B5B5B5;
	padding: 5px;
	font-weight: bold;
}

h2{
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.buttonBar {
	margin-top: 30px;
	text-align: right;
	width: 650px;
}

.fieldDiv{
	padding-top: 5px;
	clear: both;
}

.fieldLabel{
	float: left;
	width: 240px;
	text-align: right;
	font-weight: bold;
	padding: 5px;
}

.fieldRequired{
	color: red;
}

.fieldErrorMessage{
	color: red;
	margin-left: 250px;
}

.fieldPerguntaLabel{
	margin-left: 40px;
	margin-right: 40px;
	font-weight: bold;
	width: 600px;
}

.fieldPerguntaChildren{
	margin-left: 60px;
}

.fieldPerguntaErrorMessage{
	color: red;
	margin-left: 40px;
}

.semBorda tr, .semBorda td {
	border: none !important;
}

.chip-width > .ui-chips-container {
   width: 330px;
}

/* COMPONENTE FIELD */
.fieldComponent {
	width: 100%;
	min-height: 25px;
	
	margin: 1px;
	padding: 2px;
}

.fieldComponent input {
	margin-right: 10px;
}

.fieldComponent select {
	margin-right: 10px;
}

.fieldComponent .error {
	border: 1px solid #E5973E;
	background-color: #FFDEAD;
	color: red;
}

.fieldComponent .label {
	float: left;
	width: 280px;
	text-align: right;
	font-weight: bold;
	padding: 5px;
	color: #333333;
}

.fieldComponent .labelQuestion {
	float: left;
	width: 600px;
	font-weight: bold;
	padding: 5px;
	color: #333333;
	margin-left: 40px;
	margin-right: 40px; 
	
}

.fieldComponent .small {
	display: block;
	font-size: 11px;
	font-weight: normal;
	font-style:italic;
	text-align: right;
	width: 240px;
	color: #666666;
}

.fieldComponent .value {
	display: block;
}

.fieldComponent .valueQuestion {
	display: block;
	margin-left: 60px;
	clear: both;
}

.fieldComponent .required {
	color: red;
	padding-left: 2px;
}

.fieldComponent img {
	padding-top: 1px;
}

.fieldComponent .errorMessage {
	margin-left: 3px;
}

#toolTipAlert{
	background: yellow;
}

.ui-datatable-footer {
    overflow: auto;
}