.red {
	background-color: #C70039 !important;
    background-image: none !important;
    color: #000000 !important;
}

.light-red {
	background-color: #FF5733 !important;
    background-image: none !important;
    color: #000000 !important;
}

.orange {
	background-color: #fca752 !important;
    background-image: none !important;
    color: #000000 !important;
}

.yellow {
	background-color: #FFC300 !important;
    background-image: none !important;
    color: #000000 !important;
}