<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://java.sun.com/jsf/composite/componentes"
	xmlns:om="http://omnifaces.org/ui"
	xmlns:p="http://primefaces.org/ui">

	<ui:decorate template="/resources/templates/template_timeout.xhtml">
		
		<ui:define name="body">
			
			<h:form id="cadastro">
				
				<p:outputPanel>
					<h1>Contrato</h1>
				</p:outputPanel>
				
				<p:panel>
					<o:field label="Nome">
						<p:inputText value="#{contratoManagedBean.contrato.numero}" 
								label="Nome"
								size="70"
								maxlength="255"
								required="true"
								disabled="#{contratoManagedBean.visualizando}"/>
					</o:field>
					
					<o:field label="Empresa">
						<p:inputText value="#{contratoManagedBean.contrato.empresa}" 
								label="Nome"
								size="70"
								maxlength="255"
								required="true"
								disabled="#{contratoManagedBean.visualizando}"/>
					</o:field>
					
					<o:field label="Email">
						<p:inputText value="#{contratoManagedBean.contrato.email}" 
								label="Nome"
								size="70"
								maxlength="255"
								required="true"
								disabled="#{contratoManagedBean.visualizando}"/>
					</o:field>
				</p:panel>
				
				<br/>
				
				<div class="buttonBar">
					<p:commandButton value="Editar" 
							action="pretty:editarContrato" 
							ajax="false"
							rendered="#{contratoManagedBean.visualizando}"/>
				
					<p:commandButton value="Salvar" 
							action="#{contratoManagedBean.salvar()}" 
							ajax="false"
							rendered="#{contratoManagedBean.editando}"/>
					
					<p:commandButton value="Cancelar" 
							action="pretty:visualizarContrato" 
							ajax="false"
							rendered="#{contratoManagedBean.editando}"/>
				</div>
				
			</h:form>
		</ui:define>
	</ui:decorate>
	
</html>
