<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"	
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://java.sun.com/jsf/composite/componentes"
	xmlns:p="http://primefaces.org/ui">

	<ui:composition template="/resources/templates/template_timeout.xhtml">
		
		<ui:define name="body">
			
			<h:form id="formListaCoordenadoriaDemandantes" enctype="multipart/form-data">
			
				<h1>Coordenadorias Demandantes</h1>
			
				<p:messages id="pmessages"/>
			
				<p:dataTable emptyMessage="Nenhum registro" 
						value="#{coordenadoriaDemandanteManagedBean.listaCoordenadoriaDemandante}" 
						var="coordenadoriaDemandante" 
						id="tableCoordenadoriaDemandantes">
							
					<p:column headerText="Coordenadoria"
							style="width: 45%">
						#{coordenadoriaDemandante.nomeUnidade}
					</p:column>
					
					<p:column headerText="Responsável">
						#{coordenadoriaDemandante.usuarioResponsavel.nome}
					</p:column>
					
					<p:column headerText="Status"
							style="width: 5%">
						<p:toggleSwitch value="#{coordenadoriaDemandante.status}" converter="ativoInativoConverter">
				            <p:ajax listener="#{coordenadoriaDemandanteManagedBean.atualizarStatus(coordenadoriaDemandante)}"
				            		process="@all" 
				            		update="@all" />
				        </p:toggleSwitch>
					</p:column>
					
					<p:column style="width: 10%; text-align: right" >
						<f:facet name="header">
							<p:commandButton icon="ui-icon-customadd"
									onclick="this.form.target='_self'" 
									action="pretty:incluirCoordenadoriaDemandante"
									ajax="false" 
									title="Novo"/>
						</f:facet>
					
						<p:commandButton icon="ui-icon-customedit"
								action="pretty:alterarCoordenadoriaDemandante" 
								title="Editar" 
								onclick="this.form.target='_self'">
            				<f:setPropertyActionListener target="#{coordenadoriaDemandanteManagedBean.id}" value="#{coordenadoriaDemandante.id}" />
						</p:commandButton>
					
						<p:dialog widgetVar="statusDialog2" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
					    	<p:graphicImage value="/resources/img/ajax-loader.gif" />
					  	</p:dialog>
						
					</p:column>
				</p:dataTable>
				
			</h:form>
		</ui:define>
	</ui:composition>
</html>
