<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://java.sun.com/jsf/composite/componentes"
	xmlns:p="http://primefaces.org/ui">

	<ui:decorate template="/resources/templates/template_timeout.xhtml">
		
		<ui:define name="body">
			
			<h:form id="cadastro">
				
				<p:outputPanel>
					<h2>Grupo - Permissões</h2>
				</p:outputPanel>
				
				<br/>
				
				<p:panel>
					<p>Grupo</p>
					
					<o:field label="Nome" 
								id="fieldNome">
						<p:inputText label="Nome" 
								id="campoNome"
								value="#{grupoManagedBean.grupo.nome}" 
								required="true"
								onkeyup="up(this)"
								size="60"
								disabled="true"/>
					</o:field>
				
				</p:panel>
				
				<p:panel>
					<p>Permissões</p>
					
					<p:messages id="pmessages"/>
			
					<p:dataTable emptyMessage="Nenhum registro" 
							value="#{grupoManagedBean.listaPermissao}" 
							var="permissao" 
							id="tablePermissao"
							paginator="false">
							
						<p:column headerText="Nome">
							#{permissao.nome}
						</p:column>
						
						<p:column style="width: 35px; text-align: right">
							<p:commandButton onclick="if (!window.confirm('Deseja desativar a permissao??') ) {return false}" 
									actionListener="#{grupoManagedBean.remover(permissao)}" 
									title="Desativar" 
									icon="ui-icon-customactive"
									rendered="#{grupoManagedBean.grupoHavePermissao(permissao)}"
									update=":cadastro:tablePermissao :pgrowl :cadastro:pmessages"/>
							
							<p:commandButton onclick="if (!window.confirm('Deseja ativar a permissao??') ) {return false}" 
									actionListener="#{grupoManagedBean.adicionar(permissao)}" 
									title="Ativar" 
									icon="ui-icon-custominactive"
									rendered="#{not grupoManagedBean.grupoHavePermissao(permissao)}"
									update=":cadastro:tablePermissao :pgrowl :cadastro:pmessages"/>
							
						</p:column>
					</p:dataTable>
				</p:panel>
				
				<br/>
				<div class="buttonBar">
					<p:commandButton value="Voltar" 
							action="pretty:pesquisarGrupo" 
							ajax="false" 
							immediate="true"/>
				</div>
				
			</h:form>
		</ui:define>
	</ui:decorate>

</html>
