<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"	
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://java.sun.com/jsf/composite/componentes"
	xmlns:p="http://primefaces.org/ui">

	<ui:decorate template="/resources/templates/template_timeout.xhtml">
		<ui:define name="body">
		
			<h:form id="formDashboard">
			
				<script type="text/javascript">
				    //<![CDATA[
				function start() {
				    PF('statusDialog').show();
				}
				 
				function stop() {
				    PF('statusDialog').hide();
				}
				    //]]>
				</script>  
				
				<p:dataTable emptyMessage="Nenhum registro" 
						value="#{dashBoardManagedBean.listaViagem}" 
						var="viagem" 
						id="tableViagens"
						paginatorPosition="bottom"
						paginator="true"
						lazy="true"
						sortBy="os"
						sortOrder="ASCENDING"
						paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						currentPageReportTemplate="({startRecord} - {endRecord} #{paginatorMessage ne null ? paginator : 'Total' } {totalRecords})"
						rows="10"
						rowsPerPageTemplate="10,20,50">
							
					<f:facet name="header">
						<h:outputLabel value="Viagens Autorizadas"/>
					</f:facet>
						
					<p:column headerText="OS"
							style="width: 60px">
						#{viagem.os}
					</p:column>
					
					<p:column headerText="Servidor">
						#{viagem.servidor.nome}
					</p:column>
					
					<p:column headerText="Coordenadoria"
							style="width: 80px">
						#{viagem.coordenadoriaDemandante.unidade.sigla}
					</p:column>
					
					<p:column headerText="Data Ida"
							style="width: 70px">
						<h:outputText value="#{viagem.dataInicio}">
							<f:converter converterId="localDateTimeConverter"/>
						</h:outputText>
					</p:column>
					
					<p:column headerText="Origem"
							style="width: 17%">
						#{viagem.municipioOrigem.uf.uf} - #{viagem.municipioOrigem.nome}
					</p:column>
					
					<p:column headerText="Destino"
							style="width: 17%">
						#{viagem.municipioDestino.uf.uf} - #{viagem.municipioDestino.nome}
					</p:column>
					
					<p:column headerText="Status"
							style="width: 90px">
						#{viagem.status.descricao}
					</p:column>
					
					<p:column style="width: 70px; text-align: right">
					 
						<p:commandButton id="solicilitarVolta"
								icon="ui-icon-back"
								ajax="false" 
								action="pretty:solicitarVoltaViagem" 
								title="Solicitar Volta" 
								onclick="this.form.target='_self'">
            				<f:setPropertyActionListener target="#{viagemManagedBean.id}" value="#{viagem.id}" />
						</p:commandButton>
						
						<p:spacer height="5px"/>
     					
     					<p:commandButton id="voucher"
     							icon="ui-icon-download" 
								ajax="false" 
								title="Download do Voucher"
								onclick="PrimeFaces.monitorDownload(start, stop);" >
					    	<p:fileDownload value="#{dashBoardManagedBean.downloadableFile(viagem)}" />
					    </p:commandButton>
					
					</p:column>
				</p:dataTable>
				
			</h:form>
		</ui:define>
	</ui:decorate>
	
	<p:dialog modal="true" 
			id="modalTrechos" 
			header="Trechos" 
			widgetVar="modalTrechos" 
			width="700px"
			fitViewport="true" 
			closable="false"
			resizable="false">
		
		
		<h:form id="formModalTrechos" enctype="multipart/form-data">
			
			<p:dataTable emptyMessage="Nenhum registro" 
						value="#{dashBoardManagedBean.listaTrecho}" 
						var="trecho" 
						id="tableViagens"
						sortBy="os">
							
					<f:facet name="header">
						<h:outputLabel value="Trechos"/>
					</f:facet>
						
					<p:column headerText="Origem"
							style="width: 70px"> 
						#{trecho.municipioOrigem.nome}
					</p:column>
					
					<p:column headerText="Destino"
							style="width: 70px"> 
						#{trecho.municipioDestino.nome}
					</p:column>
					
					<p:column style="width: 70px; text-align: center"> 
						<p:commandButton value="Imprimir Voucher" 
								ajax="false" 
								onclick="PrimeFaces.monitorDownload(start, stop);" 
								icon="pi pi-arrow-down">
					    	<p:fileDownload value="#{voucherManagedBean.downloadableFile(trecho)}" />
					    </p:commandButton>
					</p:column>
					
				</p:dataTable>
			
			<br/>
			<div class="buttonBar">
				<p:commandButton value="Fechar" 
						onclick="PF('modalTrechos').hide();" 
						immediate="true"/>
			</div>
		</h:form>
		
	</p:dialog>
</html>
